<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
</beans>


<!--<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"-->
       <!--bean-discovery-mode="all">-->

    <!--&lt;!&ndash;<interceptors>&ndash;&gt;-->
        <!--&lt;!&ndash;<class>org.apache.deltaspike.jpa.impl.transaction.TransactionalInterceptor</class>&ndash;&gt;-->
        <!--&lt;!&ndash;<class>org.apache.deltaspike.security.impl.extension.SecurityInterceptor</class>&ndash;&gt;-->
    <!--&lt;!&ndash;</interceptors>&ndash;&gt;-->
    <!--&lt;!&ndash;<alternatives>&ndash;&gt;-->
        <!--&lt;!&ndash;<class>org.apache.deltaspike.jpa.impl.transaction.BeanManagedUserTransactionStrategy</class>&ndash;&gt;-->
    <!--&lt;!&ndash;</alternatives>&ndash;&gt;-->
<!--</beans>-->
